PROJECT_NAME=proj
PORT_SERVICE_HOST_ODOO=80
PORT_SERVICE_CONTAINER_ODOO=8069
ODOO_RELEASE=latest
ODOO_VERSION=16.0
ODOO_MINOR=16
POSTGRES_IMG_VERSION=14
POSTGRES_DB=postgres
POSTGRES_PASSWORD=odoo
POSTGRES_USER=odoo
PG_ADMIN_HOST_PORT=8008
PG_ADMIN_SERVICE_CONTAINER_PORT=80
RESET_PASSWORD=admin
PGDATABASE=postgres
RESET_PASSWORD=admin

#DBFILTER='%d.*$'
DOMAIN={catchall:.*}
TRAEFIK_FRONTEND_PRIORITY=5

#####################################
# PARAMETROS QUE NO SE SUELEN CAMBIAR
#####################################
# para no disparar crons en dev
MAX_CRON_THREADS=0

WORKERS=0
LIST_DB=True
WITHOUT_DEMO=False
ADMIN_PASSWORD=admin
PROXY_MODE=True
SERVER_MODE=test
AEROO_DOCS_HOST=aeroo
LIMIT_TIME_REAL_CRON=0
LIMIT_TIME_REAL=999999999999

# To avoid warning because on postgres this is not available if we don't install postgresql-contrib
UNACCENT=False

# pada desarrollo preferimos usar repo de upgrade local, si se quiere usar el de la imagen comentar esta linea
ODOO_UPGRADE_PATH=/home/odoo/custom/odoo-upgrade

# para que se puedan conectar desde otra maquina a este servicio, hay que descomentar estas dos lineas
# DOMAIN={catchall:.*}
# TRAEFIK_FRONTEND_PRIORITY=5
# cuando se trabaje con Odoo 18,la variable POSTGRES_IMG_VERSION debe colocarse
# en 16

TRAEFIK_HOST_PORT=
TRAEFIK_SERVICE_CONTAINER_PORT=8080
SERVER_WIDE_MODULES=
