PROJECT_NAME=proj
PORT_SERVICE_HOST_ODOO=80
PORT_SERVICE_CONTAINER_ODOO=8069
ODOO_RELEASE=latest
ODOO_VERSION=16.0
POSTGRES_IMG_VERSION=14
POSTGRES_DB=postgres
POSTGRES_PASSWORD=odoo
POSTGRES_USER=odoo
PG_ADMIN_HOST_PORT=8008
PG_ADMIN_SERVICE_CONTAINER_PORT=80
RESET_PASSWORD=admin
PGDATABASE=postgres

MAX_CRON_THREADS=0
WORKERS=0
LIST_DB=True
WITHOUT_DEMO=False
ADMIN_PASSWORD=admin
PROXY_MODE=True
SERVER_MODE=test
AEROO_DOCS_HOST=aeroo
LIMIT_TIME_REAL_CRON=0
LIMIT_TIME_REAL=999999999999
UNACCENT=False
ODOO_UPGRADE_PATH=/home/odoo/custom/odoo-upgrade
